<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= blog.description %>">
    <meta name="author" content="<%= author.name %>">
    <meta name="generator" content="Node Blogger" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <title><%= blog.title %></title>

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for blg.ragingflame.co.za" href="/rss" />
    <!-- Bootstrap core CSS -->
    <link href="/css/<%- css %>" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&amp;subset=latin,cyrillic-ext" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">

      <button type="button" style="margin-right: 10px; margin-top: 5px; color:#fff" class="close hidden-md hidden-lg pull-right" aria-label="Close" data-toggle="offcanvas" data-target=".navmenu">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="text-center avatar">
        <a href="<%= blog.baseUrl %>">
          <img src="<%= author.avatar %>" class="img-circle desktop" title="<%= author.name %>" alt="<%= author.name %>" />
        </a>
      </div>

      <p class="description">
        <%- author.autobio %>
      </p>

      <ul class="nav navmenu-nav">
        <li <% if(blog.isIndex) { %>class="active"<% } %>>
          <a href="<%= blog.baseUrl %>">Home</a>
        </li>
        <li><a href="/about">About</a></li>
        <li><a href="https://github.com/qawemlilo" target="_blank">Projects</a></li>
        <li><a href="mailto:<%= author.email %>">Contact Me</a></li>
      </ul>

      <ul class="list-inline social-media">
        <li>
          <a target="_blank" href="<%= author.githubPage %>" title="Github" class="github">&nbsp;</a> 
        </li>
        <li>
          <a href="http://twitter.com/<%= author.twitterHandle %>" title="Follow me on Twitter" class="twitter">&nbsp;</a>
        </li>
        <li>
          <a href="<%= author.googlePage %>" title="Google+" class="google">&nbsp;</a>
        </li>
        <li>
          <a href="<%= blog.rss %>" title="RSS" class="rss">&nbsp;</a>
        </li>
      </ul>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= blog.baseUrl %>"><%= blog.title %></a>
    </div>

    <div class="container content">
      <div class="page-header hidden-xs hidden-sm">
        <h1><%= blog.title %></h1>
      </div>

      <div class="row">
        <div class="post">
          <%- post.content %>
        </div>
      </div>
    </div><!-- /.container -->
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/<%- js %>"></script>
  </body>
</html>
