<!DOCTYPE html>
<html>
<head>
<title><%= blog.title %></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no" />
<meta name="description" content="<%= blog.description %>" />
<meta name="generator" content="Node Blogger" />
<link href="/css/style.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <header>
  </header>

  <aside>
    <h1>
      <a href="<%= blog.baseUrl %>">
        <img src="<%= author.avatar %>" class="img-circle desktop" title="<%= author.name %>" alt="<%= author.name %>" />
      </a>
    </h1>
  
    <p class="description">
      <%= author.autobio %>
    </p>
  
    <ul>
      <li><a href="<%= blog.baseUrl %>">Home</a></li>
      <li><a href="/2013/5/9/about-this-blog">About</a></li>
      <li><a href="<%= author.website %>">My Website</a></li>
      <li><a href="mailto:<%= author.email %>">Contact Me</a></li>
    </ul>
  
    <p class="author">
      <% if (blog.showGithubButton) { %> <a target="_blank" href="<%= author.githubPage %>" title="Github" class="github"> </a> <% } %>
      <% if (blog.showFacebookButton) { %> <a target="_blank" href="<%= author.facbookPage %>" title="Facebook" class="facebook"> </a> <% } %>      
      <% if (blog.showTwitterButton) { %> <a target="_blank" href="http://twitter.com/<%= author.twitterHandle %>" title="Twitter" class="twitter"> </a> <% } %>  
      <% if (blog.showGoogleButton) { %> <a target="_blank" href="<%= author.googlePage %>" title="Google" class="google"> </a> <% } %>  
      <% if (blog.showRssButton) { %> <a href="<%= blog.rss %>" title="RSS" class="rss"> </a> <% } %> 
    </p>
  </aside>
  
  <section id="content">
    <div class="post">
      <h1><%= blog.title %></h1>
      <br>
      <%- post.content %>
    </div>
  </section>
</body>
</html>
