<!DOCTYPE html>
<html>
<head>
<title><%= blog.title %></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no" />
<meta name="description" content="<%= blog.description %>" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

  <header>
  </header>

  <aside>
    <h1><a href="<%= blog.baseUrl %>"><img src="<%= author.avatar %>"class="img-circle" title="<%= author.name %>" alt="<%= author.name %>" /></a></h1>
  
    <p class="description">
      <%= author.autobio %>
    </p>
  
    <ul>
      <li><a href="<%= blog.baseUrl %>">Home</a></li>
      <li><a target="_blank" href="<%= author.website %>">My Website</a></li>
      <li><a target="_blank" href="mailto:<%= author.email %>">Contact Me</a></li>
    </ul>
  
    <p class="author">
      <a target="_blank" href="<%= author.facbookPage %>" title="Facebook" class="facebook"> </a> 
      <a target="_blank" href="http://twitter.com/<%= author.twitterHandle %>" title="Twitter" class="twitter"> </a> 
      <a target="_blank" href="<%= author.googlePage %>" title="Google" class="google"> </a> 
      <a target="_blank" href="<%= author.rss %>" title="RSS" class="rss"> </a>
    </p>
  </aside>
  
  <section id="content">
    <div class="post">
      <h2><%= post.title %></h2>
      
      <div class="date"><%= post.day %> <%= post.month %> <%= post.year %></div>
      
      <%- post.content %>
    </div>
    
    <% if(pagination.prev) { %>
      <a href="<%= pagination.prev %>" title="Previous Post" class="pagination-arrow newer">Prev</a>
    <% } %>
    
    <% if(pagination.next) { %>
      <a href="<%= pagination.next %>" title="Next Post" class="pagination-arrow older">Next</a>
    <% } %>
  </section>


<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
