<!DOCTYPE html>
<html>
<head>
<title><%= blog.title %></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no" />
<meta name="description" content="<%= blog.description %>" />
<meta name="generator" content="Node Blogger" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/prettify.css" type="text/css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

  <header>
  </header>

  <aside>
    <h1><a href="<%= blog.baseUrl %>"><img src="<%= author.avatar %>"class="img-circle" title="<%= author.name %>" alt="<%= author.name %>" /></a></h1>
  
    <p class="description">
      <%= author.autobio %>
    </p>
  
    <ul>
      <li><a href="<%= blog.baseUrl %>">Home</a></li>
      <li><a href="/2013/5/9/about-this-blog">About</a></li>
      <li><a target="_blank" href="<%= author.website %>">My Website</a></li>
      <li><a target="_blank" href="mailto:<%= author.email %>">Contact Me</a></li>
    </ul>
  
    <p class="author">
      <a target="_blank" href="<%= author.facbookPage %>" title="Facebook" class="facebook"> &nbsp; </a> 
      <a target="_blank" href="http://twitter.com/<%= author.twitterHandle %>" title="Twitter" class="twitter"> &nbsp; </a> 
      <a target="_blank" href="<%= author.googlePage %>" title="Google" class="google"> &nbsp; </a> 
      <a href="<%= blog.rss %>" title="RSS" class="rss"> &nbsp; </a>
    </p>
  </aside>
  
  <section id="content">
    <div class="post"> 
      <h2><%= post.title %></h2>
      
      <div class="date">
        <div class="dt">
          <%= post.day %> <%= post.month %> <%= post.year %>
        </div>
        
        <div class="sharep">
            <a target="_blank" href="http://www.facebook.com/share.php?u=<%= blog.url + post.url %>" class="share-fb" title="Share on Facebook"> 
               &nbsp;
            </a>
            <a target="_blank" href="http://twitter.com/home?status=<%= blog.url + post.url %>" class="share-twitter" title="Share on Twitter">
               &nbsp;
            </a>
            <a target="_blank" href="http://reddit.com/submit?url=<%= blog.url + post.url %>" class="share-reddit" title="Share on Reddit">
               &nbsp;
            </a>
            <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= blog.url + post.url %>" class="share-linkedin" title="Share on LinkedIn">
               &nbsp;
            </a>
        </div>
      </div>
      
      <p style="clear:both"></p>
      
      <%- post.content %>
    </div>
    
    <% if(pagination.prev) { %>
      <a href="<%= pagination.prev %>" title="Previous Post" class="pagination-arrow newer">Prev</a>
    <% } %>
    
    <% if(pagination.next) { %>
      <a href="<%= pagination.next %>" title="Next Post" class="pagination-arrow older">Next</a>
    <% } %>
  </section>

<script type="text/javascript" src="/js/script-min.js"></script>
</body>
</html>
