<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= blog.description %>">
<meta name="author" content="<%= author.name %>">
<meta name="generator" content="Node Blogger" />

<title><%= post.title %></title>

<link rel="alternate" type="application/rss+xml" title="RSS Feed for blg.ragingflame.co.za" href="/rss" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link href="/css/<%- css %>" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&amp;subset=latin,cyrillic-ext" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">

      <button type="button" style="margin-right: 10px; margin-top: 5px; color:#fff" class="close hidden-md hidden-lg pull-right" aria-label="Close" data-toggle="offcanvas" data-target=".navmenu">
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="text-center avatar">
        <a href="<%= blog.baseUrl %>">
          <img src="<%= author.avatar %>" class="img-circle desktop" title="<%= author.name %>" alt="<%= author.name %>" />
        </a>
      </div>

      <p class="description">
        <%- author.autobio %>
      </p>

      <ul class="nav navmenu-nav">
        <li>
          <a href="<%= blog.baseUrl %>">Home</a>
        </li>
        <li <% if(post.url == '/2013/5/9/about-this-blog') { %>class="active"<% } %>>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="https://github.com/qawemlilo" target="_blank">Projects</a>
        </li>
        <li>
          <a href="mailto:<%= author.email %>">Contact Me</a>
        </li>
      </ul>

      <ul class="list-inline social-media">
        <li>
          <a target="_blank" href="<%= author.githubPage %>" title="Github" class="github">&nbsp;</a> 
        </li>
        <li>
          <a href="http://twitter.com/<%= author.twitterHandle %>" title="Follow me on Twitter" class="twitter">&nbsp;</a>
        </li>
        <li>
          <a href="<%= author.googlePage %>" title="Google+" class="google">&nbsp;</a>
        </li>
        <li>
          <a href="<%= blog.rss %>" title="RSS" class="rss">&nbsp;</a>
        </li>
      </ul>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= blog.baseUrl %>">Raging Flame Blog</a>
    </div>

    <div class="container content">
      <div class="row">
        <div class="post blogpost"> 
          <h1><%= post.title %></h1>
      
          <div class="row date">
            <div class="dt col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <span style="margin-right:10px">
                <%= post.day %> 
                <%= post.month %> 
                <a href="/<%= post.year %>"><%= post.year %></a>
              </span>
              
              <% post.categories.forEach(function (tag) { %>
                  &nbsp;
                  <span class="label label-default">
                    <a href="/tags/<%= tag %>"><%= tag %></a>
                  </span> 
              <% }); %>
            </div>
            <div class="sharep col-xs-12 col-sm-4 col-md-4 col-lg-4" style="text-align:right">
              <ul class="list-inline list-unstyled">
                <li>
                  <a target="_blank" href="http://www.facebook.com/share.php?u=<%= blog.url + post.url %>" class="share-fb" title="Share on Facebook">&nbsp;</a>
                </li>

                <li>
              <a target="_blank" href="http://twitter.com/home?status=<%= blog.url + post.url %>" class="share-twitter" title="Share on Twitter">
               &nbsp;
              </a>                  
                </li>

                <li>
              <a target="_blank" href="http://reddit.com/submit?url=<%= blog.url + post.url %>" class="share-reddit" title="Share on Reddit">
               &nbsp;
              </a>
                </li>

                <li>
              <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= blog.url + post.url %>" class="share-linkedin" title="Share on LinkedIn">
               &nbsp;
              </a>
                </li>
              </ul>
           
            </div>
          </div>
      
          <%- post.content %>
        </div>
        <div class="pagination-container">    
        <% if(pagination.prev) { %>
          <a href="<%= pagination.prev %>" title="Previous Post" class="pagination-arrow newer">Prev</a>
        <% } %>
        
        <% if(pagination.next) { %>
          <a href="<%= pagination.next %>" title="Next Post" class="pagination-arrow older">Next</a>
        <% } %>
      </div>
        
        <div id="disqus_thread"></div>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>

<script src="/js/<%- js %>"></script>
<script type="text/javascript">
    var disqus_shortname = 'ragingflameblog';
    var disqus_identifier = '<%= post.url %>';
    var disqus_title = '<%= post.title %>';
    var disqus_url = 'http://blog.ragingflame.co.za<%= post.url %>';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41105756-1', 'ragingflame.co.za');
  ga('send', 'pageview');

</script>
</body>
</html>
