    <h1>
      <a href="<%= blog.baseUrl %>">
        <img src="<%= author.avatar %>" class="img-circle desktop" title="<%= author.name %>" alt="<%= author.name %>" />
      </a>
    </h1>
  
    <p class="description">
      <%= author.autobio %>
    </p>